---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/cookie_one.jpeg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Your favourite cookie store
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Introducing our delicious cookie biscuit! Made with only the finest ingredients, our cookie biscuit is the perfect treat for any occasion. Crispy on the outside and soft on the inside, it's the perfect balance of sweet and savory. Order now and taste the difference!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href=""
        onclick="event.preventDefault()"
        class="flex gap-1 items-center justify-center"
        >
        $5.00/tk
      </Link>
      <Link
        href=""
        onclick="event.preventDefault()"
        class="flex gap-1 items-center justify-center shopemaa-buy-btn"
        data-product-id="ad9060e1-5104-4ba4-bd36-74060a01d533"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cart" />

        Add to Cart
        </Link>
    </div>
  </div>
</main>
